@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Resets  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
body {
    margin: 0;
}

:root {
    
    /* Typography */

    --main-font: 'Montserrat', sans-serif;
    --sec-font: 'Michroma', sans-serif;
    
    /* Colors */

    --main-light-color: #fff;
    --sec-light-color: #F0F0F0;
    --main-dark-color: #283147;
    --font-gray-color: #4B4B4B;
    --font-lightgray-color: #8a8a8a;
    --light-gray-color: #D0CFCF;
    --dark-gray-color: #DDDDDD;
    --bg-gray: #F2ECEC;
    --bg-dark: #1E1B22;
    --bg-blue-gray: #f4f6f7;
    --accent-color: #505da7;
    --hover-color: #414b68;

    /* Transitions */

    --simple-transition: all 0.2s ease-out;
    --button-bg-transition: background-color 0.1s ease-in-out;
    --button-color-transition: background-color 0.1s ease-in-out;

    --menu-transition: all .3s ease-in-out;
    --hover-transition: color 0.2s ease, border 0.2s ease;

    /* Margins */

    --margin-frame: clamp(.8rem, 1.4vw, 2.4rem);

      /* General */

      scroll-behavior: smooth;
      font-family: var(--main-font);
      

}

/* General */


h2 {
    font-family: var(--sec-font);
    color: var(--main-dark-color);
    font-size: clamp(1.75rem, 4vw, 4.25rem);
    font-weight: 400;
}

h3 {
    font-family: var(--sec-font);
    color: var(--main-dark-color);
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 400;
    text-transform: uppercase;
}
h4 {
    font-family: var(--sec-font);
    color: var(--main-dark-color);
    font-size: clamp(1.2rem, 2vw, 2.25rem);
    font-weight: 400;
}

p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.4;
    color: var(--font-gray-color);
    max-width: 60ch;
}

.small-text {
    color: var(--font-lightgray-color)
}

a {
    color: var(--font-gray-color);

    &:hover {
        text-decoration: none;
    }
}



/* Aniamations */

@keyframes moveUpDown {
    /* Define the keyframes for the animation */
    from {
      transform: translateY(-5px); /* Start position: no translation */
      opacity: 1
    }
    to {
      transform: translateY(15px); /* End position: translate vertically by 10 pixels */
      opacity: 0;
    }
  }

@keyframes changeBgColor {
0% {
    background-color: #285f50;
}
50% {
    background-color: #283d5f;
    }
    100% {
    background-color: #3d3271;
    }

}

@keyframes fadeIn {
0% { 
    opacity: 0; 
    filter: blur(2px);
}

100% { opacity: 1; }
}


/* Scroll Observer Animations */

.scroll-animated {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(5px);
    transition-property: opacity transform filter;
    transition-duration: 1s;
    transition-timing-function: easy;
    transition-delay: 100ms;


    @media (max-width: 400px) {
        & {
            opacity: 1;
            transform: translateX(0);
            filter: blur(0);
        }
        
    }

    &.show {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}



/* Misc */

.hidden {
    display: none;
}

.overflow {
    overflow: hidden;
    
}

.blend-mode  {
    mix-blend-mode: difference;
}



/* Structure */


.container {
    margin: 0 auto 0 10%;
    max-width: 70svw;

    @media (max-width: 1150px) {
        & {
            max-width: 100%;
            margin: 0 2rem;
        }
    }

    @media (max-width: 600px) {
        & {
            margin: 0 1rem;
        }
    }
}


.grid {
    display: flex;
    margin-top: 1rem;

    &.two-one {
        grid-template-columns: 2fr 1.5fr;
        gap: clamp(2rem, 8vw, 8rem);
    }

    &.one-one {
        gap: clamp(2rem, 1vw, 3rem);
    }

    &.even {
        direction: rtl; /* Reverse the order of items within the grid item */
      }

    &.even  > * {
        direction: ltr; /* Restore the original direction of child elements */
      }

    & .column {
        flex: 1;
    }

    @media (max-width: 800px) {

        &  {
            flex-direction: column;

            &.one-one {
                flex-direction: column-reverse;
            }
        }
      }
}

.column {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 4vh, 3rem);
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
}



/* Buttons */

    a:has(.btn) {
        text-decoration: none;
    }
    
    .btn {
        font-size: clamp(.8rem, 2vw, 1rem);
        font-family: var(--main-font);
        font-weight: 500;
        padding: .7rem;
        border-radius: .6rem;
        border: none;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        transition: var(--button-bg-transition), var(--button-color-transition);
        cursor: pointer;    
    
        &.primary {
            background-color: var(--main-dark-color);
            color: var( --sec-light-color);
    
            &:hover {
                background-color: var(--hover-color);
            }
    
            &.form {
                width: fit-content;
                font-size: clamp(.8rem, 1.2vw, 1.1rem);
                padding: clamp(.5rem, .7vw, .7rem) 1.2rem;
                border-radius: .7rem;
                text-transform: uppercase;
                font-weight: 600;
                color: white;
    
                & svg {
                    width: clamp(1rem, 1.2vw, 1.3rem)
                }
            } 
        }
    
        &.secondary {
            color: var(--main-dark-color);
            background-color: var(--dark-gray-color);
    
            &:hover {
                background-color: var(--sec-light-color);
            }
        }
    }
    


/* Footer & Contact Form  */

footer,
.form__success-page {    
    background-color: #152020;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-image:
    linear-gradient(90deg, #152020a4 3%, transparent 30%),
    linear-gradient(90deg, transparent 50%, #152020 100%),
    radial-gradient(at 11% 94%, hsla(289,24%,36%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(175,11%,20%,1) 0px, transparent 50%),
    radial-gradient(at 36% 60%, hsla(322,45%,41%,1) 0px, transparent 50%),
    radial-gradient(at 91% 94%, hsla(173,60%,11%,1) 0px, transparent 50%),
    radial-gradient(at 79% 27%, hsla(234,44%,36%,1) 0px, transparent 50%);

    &::after {
        content: "";
        position: absolute;
        bottom: -1;
        left: 0;
        width: 100%;
        height: 100%;
        background: 
            url("data:image/svg+xml,%3Csvg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.97' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        pointer-events: none;
        opacity: 0.7;
        z-index: 0;
        filter: brightness(80%);
        mix-blend-mode: soft-light;

    }

    & .box-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 2vh;
        background-color: var(--main-light-color);
        border-radius: clamp(1.5rem, 2.4vw, 2.5rem);
        padding: clamp(2rem, 3vw, 3rem) clamp(1.5rem, 4vw, 4rem) clamp(3rem, 6vw, 6rem);
        z-index: 20;
        border: 1px;
        z-index: 3;
        width: 60svw;
        max-width: 50rem;

    }

    & form {
        display: flex;
        flex-direction: column;
        gap: clamp(.8rem, 1.8vh, 2rem);
    }

    & input, & textarea {
        font-family: var(--main-font);
        font-size: clamp(.75rem, 2vw, 1.2rem);
        color: var(--font-gray-color);
        background-color: var(--sec-light-color);

        padding: clamp(.5rem, .6vw, .6rem) clamp(.6rem, .8vw, .8rem);
        border: none;
        border-radius: .6rem;
        width: 100%;
    }

    & textarea {
        min-height: 12rem;

        @media (max-width: 700px) {
            & {
                min-height: 8rem;
            }
        }
     }

    & .footer-text {
        color: var(--main-light-color);
        letter-spacing: 1px;
        font-size: clamp(.5rem, 1.2vw, 0.8rem);
        font-weight: 300;
        text-shadow: 1px 1px 1px #000;
        z-index: 10;
        text-align: center;

        & a {
            color: var(--main-light-color)

        }
    }
}