---
import Github from './Icons/Github.astro';
import LinkIcon from './Icons/LinkIcon.astro'

interface Props {
  link: string,
  text: string,
}

const {link, text } = Astro.props

---

    <button class="btn secondary">
      <a href={link} target="_blank"></a>
      {text}
      {text === 'Source Code' ? <Github /> : <LinkIcon />}
    </a>
  </button>



<style>



</style>