---
import Contact from "./Contact.astro";


const currentDate = new Date();
const year = currentDate.getFullYear();


---
<footer>
    <Contact />
      <span class="footer-text">Copyright © <span id='year-container'>{year}</span> Arek Dec. Website source code on <a href='https://github.com/aroo0/apparent-astronaut' target="_blank">GitHub</a>.</span>
    </footer>


