---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
      <div class="form__success-page">
      <section class="contact" id="contact">
       <div class="box-container ">
          <div class="desciption-container">
            <h4>Message got through,</h4>
            <p>thanks for reaching out. I'll get respond to you as soon as possible.</p>
          </div>
          <a href="/">
            <button class="btn primary form" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" transform="scale(-1, 1)" viewBox="0 0 256 256"><path fill="currentColor" d="m184.49 136.49l-80 80a12 12 0 0 1-17-17L159 128L87.51 56.49a12 12 0 1 1 17-17l80 80a12 12 0 0 1-.02 17Z"/></svg>
              <span>Go back
              </span>
            </button>
        </a>
        </div>        
      </section>
    </div>
</Layout>


